<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.airham.demo_start">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demostart">
        <activity android:name=".HomeActivity"></activity>

        <activity android:name=".MapActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <!--
Developers should put application credentials here.To obtain them, please register the application
         at https://developer.here.com/develop/mobile-sdks
        -->
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="aFw23ClzE2EX3AnAATBb" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="m9wCc2N9yxaximiIV9g4gg" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="hBcVjRBFqYBM9Fcg3LN+m/MtL10/Fg1Y7pK62wt4g4O3UqPsEUYAGcj8wvw3B5ZKRnvX4Z56YC37QzkjpXoFaKzMM8zyyefuk8dXD8pIcGKmIU/NQ/GP/srHlzu83f9PyrKO27l9ORBjpn829qMfy8elyRJH690CUYrBbOLqGZCiZ72njCoSYZE0IHT6vcbZtQn44Xg5oMWYflNDghKl0vvTExv7NvKi+dOZEYM3vPU5dKOIifFF8x5X/rbTf8mUO8B6XqlIqxMopjlqgT9Qg6c0sHtMr+NT78oBrd1gcxQbZ4o+fYFrkSZUWguGkypqNQgck3+nBa4PKRr2fffVV//wOfkZzC3NeDcNKsD9WbFgtvmHdXfM64aDrTs79GoRsf3EFvv66V1V8nKPEO1IZBbQV2S3/EDdrHtZr0umdhVJrLY7x6nQiPB0SZBNg+RH3iW2Rz1bSSXBTUr5eLRzWeaOlvqEZg+qOm2POCQorrXq4rQlg2SOZuYn3Vy7axkyf8LBr1JAFyYbVFhHLyQe1MN79i5lTH6bHzmNlXw29HDsHrlD0BKBSdgIw9I7vo8PpKOSP1U7ad39FAAYHWEhpM3diSfG1qu/drfq3KfXxfiZkXWqFDc3bGSYYF7V3KE9MKBw3zCfMc9mQezhHKhR/aZWBGPLxnA/eJD4f9pua58=" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Demostart.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.Demostart.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>